@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

h1,h2,h3, h5{
    font-family: "Bricolage Grotesque", sans-serif;
}

body{
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
.sp{
    font-family: degular-semibold, -apple-system, BlinkMacSystemFont, "“Segoe UI”", Roboto, Helvetica, Arial, "sans-serif";
}
:root {
--color-1: #17134a;
    --color-2: #45426e;
    --color-3: #747192;
    --color-4: #a2a1b7;
    --color-5: #d1d0db;
    --color-6: #27A6FE;
    --color-7: #8C3BFC;
    --color-8: #DE238E;
    --color-9: #FFCC85;
    --color-10: #eeebfa;
    --color-11: #dad5ed;
    --color-12: #b0a6e0;
    --color-13: #877bd4;
    --color-14: #5f54c7;
    --color-15: #3a30ba;
    --color-16: #231f94;
    --color-17: #12126e;
    --color-18: #080a47;
    --color-19: #030521;
    --color-20: #F1FAF7;
    --color-21: rgba(8, 10, 71, 0.1);
    --color-22: #FFFFFF;
    --color-23: rgba(255, 255, 255, 0);
    --color-24: #FFF9F3;
    --color-25: #220B3E;
    --color-26: #FFF8E0;
    --color-27: #F6F6FC;
    --color-28: #25D06A;
    --color-29: #FCF2DE;
    --color-30: rgba(255, 255, 255, 0.8);
    --color-31: rgba(222, 35, 142, 0.07);
    --gradient-1: linear-gradient(45deg, var(--color-7) 0%, var(--color-6) 99%);
} 
.bg{
    background-image: url('https://cdn.dorik.com/5e373b6c43a72a001f56dbf6/61a1f4035bfd7b0011fb92f9/images/button-bg_wqfy1ggx.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
.bg-1{
    background-image: url(https://cdn.dorik.com/5e373b6c43a72a001f56dbf6/61a1f4035bfd7b0011fb92f9/images/cms-bg_2b06w496.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-bottom: 20px;

}
.bg2{
    background-image: linear-gradient(130deg, rgba(155, 144, 196, 0.1) 0%, rgba(62, 67, 127, 0.2) 100%);
}
.fil{
    object-fit: cover;
    filter: grayscale(100%) sepia(0%) blur(0px) brightness(100%) hue-rotate(0deg) saturate(100%) opacity(100%) contrast(100%) invert(0%);
}
.bg-f{
    background-image: url("../images/footer-icon-bg.svg");
    padding-top: 120px;
    padding-bottom: 30px;
    background-position: top;
    background-repeat: no-repeat;
}

/* ============== Resposive Menu ============== */
.menu-icon {
  display: none;

}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu {
  transform: scale(1, 1);
}

@media only screen and (max-width: 768px) {
  .menu {
    flex-direction: column;
    background-color: var(--color-white);
    align-items: center;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .menu ul li a {
    color: #000000;
    padding: 10px 0;
  }


  .menu-icon {
    display: block;
    color: #000000;
    font-size: 28px;
    position: absolute;
    right: 20px;
    cursor: pointer;
  }
  
}