@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


@theme{
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-theme: #0EA5E9;
    --color-dark: #4B5563;
}
/* ========== Font Family ========== */
.poppins-font{
    font-family: 'Poppins', sans-serif;
}
.container{
    @apply max-w-[1440px] mx-auto;
}
.menu ul li a{
    @apply font-medium text-base text-dark leading-6 hover:text-theme tracking-normal;
}
h1{
    @apply font-bold tracking-normal text-[#111827] lg:text-[48px] md:text-[40px]  text-[30px];
}
.paragraph{
    @apply  font-normal tracking-normal text-[20px] text-[#4B5563];
} 
h2{
    @apply font-bold text-3xl leading-9 text-[#111827] tracking-normal text-center;
}  
.section-dec{
    @apply font-normal text-base leading-6 text-dark text-center tracking-normal;
}
.service-cards{
    @apply flex gap-8 items-center md:flex-row flex-col;
}
.service-card{
    @apply bg-[#F0F9FF] p-6.25 rounded-lg flex flex-col h-full;
}
.service-title{
    @apply font-semibold text-xl leading-[100%] text-black tracking-normal mt-1;
}
.contact-title{
    @apply font-semibold text-xl leading-[100%] text-white tracking-normal mt-1;
}
.service-card-dec{
    @apply font-normal text-base leading-[100%] text-dark tracking-normal mt-3 mb-4;
}
.doctor-card-dec{
    @apply font-normal text-base leading-[100%] text-dark tracking-normal ;
}
.contact-card-dec{
    @apply font-normal text-sm leading-[100%] text-white tracking-normal mt-2;
}
.doctor-card{
    @apply bg-white p-6.25 rounded-lg flex flex-col h-full mr-5;
}
.contact-card{
    @apply  p-6.25 rounded-lg flex flex-col h-full;
}
.footer-menu  ul li a{
    @apply font-normal text-base leading-6 text-[#9CA3AF] tracking-normal hover:text-theme;
}
.footer-info ul li a{
    @apply font-normal text-base text-[#9CA3AF] leading-6 tracking-normal hover:text-theme;
}