header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
}

.menu-icon {
  display: none;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu {
  transform: scale(1, 1);
}

@media only screen and (max-width: 768px) {
  .menu {
    flex-direction: column;
    background-color: var(--color-white);
    align-items: start;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .menu a {
    margin-left: 12px;
  }


  .menu-icon {
    display: block;
    color: #000000;
    font-size: 28px;
    cursor: pointer;
  }
  .pd-rs{
    margin-top: 80px;
  }
  
}
@media screen and (min-width: 770px) {
  .main-top-padding{
    padding-top: 100px;
  }
  .pd-rs{
    margin-top: 80px;
  }
  .about-des,
  .blog-des{
    padding: 20px 0;
  }
  .blog-para{
    padding-bottom: 20px;
  }
}