@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monda:wght@400..700&display=swap');
@import "tailwindcss";

/* ========== Font Family ========== */
.monda-font{
    font-family: 'Monda', sans-serif;
}
.inter-font{
    font-family: 'Inter', sans-serif;
}
.container{
    @apply max-w-[1920px] mx-auto;
}
h1{
    @apply font-bold tracking-normal text-white 2xl:text-[85px] 2xl:leading-[75px] xl:text-[50px] lg:leading-[45px] md:text-[40px] md:leading-[55px] sm:text-[30px] sm:leading-[35px] text-[30px] leading-[25px];
}
.paragraph{
    @apply  font-normal tracking-normal leading-[100%] text-sm text-white ;
}