body{
    font-family: "Inter", sans-serif;
    background-color: #000000;
}
/* ============== Resposive Menu ============== */
.menu-icon {
  display: none;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu {
  transform: scale(1, 1);
}

@media only screen and (max-width: 768px) {
  .menu {
    flex-direction: column;
    background-color: var(--color-white);
    align-items: start;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .menu ul li a {
    color: #000000;
    padding: 10px 0;
  }


  .menu-icon {
    display: block;
    color: #ffffff;
    font-size: 28px;
    cursor: pointer;
  }
  .pd-rs{
    margin-top: 80px;
  }
  
}
.arrow {
  display: inline-block; 
  transition: transform 0.3s ease; 
  rotate: 90deg;
  margin-left: 13px;
}

.feature-bg{
    background-image: url('../images/feature-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(5px);
}
.feature-bg::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    opacity: 80%;
    z-index: -1; /* Ensure the overlay is behind the content */
}