@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.inter{
    font-family: "Inter";
}
.roboto{
    font-family: "Roboto", sans-serif;
}
.poppins{
    font-family: "Poppins", sans-serif;
}
body{
    font-family: "inter";
    
}
.section{
    padding: 0 50px;
}
@media screen and (max-width: 1040px) {
    .section{
        padding: 0 20px;
    }
}
@media screen and (max-width: 1338px) {
    .hero-right-form{
        z-index: 1000;
        position: relative;
        background: transparent;
    }
    .hero-right-form h2,
    .hero-right-form h6,
    .hero-right-form input{
        color: white;
    }
    .hero-right-form input{
    }
}
@media screen and (max-width: 970px) {
    .hero-right-text{
        max-width: 350px;
    }
}
@media screen and (max-width: 767px) {
    .section{
        padding: 0 10px;
    }
    .hero-right-text{
        max-width: 100%;
        margin-bottom: 20px;
    }
    .hero{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-right-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 20px;
    }
    .hero-right-form h2,
    .hero-right-form h6{
        text-align: center;
    }
    .btn{
        color: #424352;
        background: #fff;
        border: 1px solid #424352;
    }
    .btn svg{
        fill: #424352;
        color: #424352;
    }
    .event-date svg{
        width: 37px;
        height: 24px;
    }
}



.main-menu ul li{
    display: inline-block;
    margin: 0 20px;
}
.main-menu ul li a{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .5px;
    color: #424352;

}


.tr:last-child{
    justify-content: flex-end;
}
select{
    appearance: none; /* For modern browsers */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
}
.bgg-shadow{
    box-shadow: 1px 5px 50px 0px rgba(84, 99, 122, 0.10);
    border-radius: 10px;
}
.sha{
    box-shadow: 1px 5px 50px 0px rgba(84, 99, 122, 0.10);
    border-radius: 12px;
}
.box-s{
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.07);
}
.btns{
    box-shadow: 0px 7px 29px 0px rgba(99, 99, 110, 0.20);
}
.sds{
    box-shadow: 1px 5px 50px 0px rgba(84, 99, 122, 0.10);
}
.brs{
box-shadow: 0px 4px 20px 2px rgba(55, 82, 122, 0.15);
}
.mark li a{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

